html 
    head 
        title Answer a question
    body 
        div.container
            ul.col-md-12.row
                a(href='http://localhost:3000/api/landing_page')
                    li.col-md-2 HomePage
                a(href='http://localhost:3000/api/myPage')
                    li.col-md-2 My Page
                a(href="http://localhost:3000/api/login")
                    li.col-md-2 Login
                a(href='http://localhost:3000/api/logout')
                    li.col-md-2.col-md-offset-1 Logout
                a(href='http://localhost:3000/api/signup')
                    li.col-md-2 Register
        form(class='ask-me' method='POST' action='AddAnswerOfQuestion' style="height: 500px; margin-left: 600px; margin-top: 150px; background: green; margin-bot: 300px; width: 700px")
            p(style="margin-left: 50px") Available Answers
            table(style="width: 90%; margin-left:50px border='1'")
            tr 
                th Answer text 
                th Answer date 
            for answer in answers.result
                tr
                    th #{answer.text}
                    th #{answer.date_answered}
            p(style="margin-left: 50px") Related Keywords
            p(style="margin-left: 50px") #{keywords}
            
            p(style="margin-left: 50px") Your answer here
            input(name='text', value='', type='text', style="margin-left: 50px")
            br 
            br
            button(class='btn btn-primary btn-block' type="submit") Answer 
        