html 
    head 
        title Ask a question page

    body 
        div.container
            ul.col-md-12.row
                a(href='http://localhost:3000/api/landing_page')
                    li.col-md-2 HomePage
                a(href='http://localhost:3000/api/myPage')
                    li.col-md-2 My Page
                a(href="http://localhost:3000/api/login")
                    li.col-md-2 Login
                a(href='http://localhost:3000/api/logout')
                    li.col-md-2.col-md-offset-1 Logout
                a(href='http://localhost:3000/api/signup')
                    li.col-md-2 Register
        form(class='ask-me' method='POST' action='submitQuestion' style="height: 500px; margin-left: 600px; margin-top: 150px; background: green; margin-bot: 300px; width: 400px")
            h3 Ask a question
            p 
                | Question title: 
                input(name='title', value='', type='text')
                br
                br 
                | Question text: 
                input(name='text', value='', type='text')
                br 
                br 

                | keywords: 
                br 
                select#menu1(name='keywords', size=keywords.length, multiple='', style="margin-left: 50px")
                    for keyword in keywords 
                        option(value=keyword.id) #{keyword.keyword}

            button(class='btn btn-primary btn-block' type="submit") Ask
        