html 
    head 
        title Ask a question page
    body 
        
        form(class='ask-me' method='POST' action='....' style="height: 500px; margin-left: 600px; margin-top: 150px; background: green; margin-bot: 300px; width: 400px")
            h3 Ask a question
            p 
                | Question title: 
                input(name='title', value='', type='text')
                br
                br 
                | Question text: 
                input(name='text', value='', type='text')
                br 
                br 

                | keywords: 
                br 
                select#menu1(name='keywords', size=keywords.length, multiple='', style="margin-left: 50px")
                    for keyword in keywords 
                        option(value=keyword.id) #{keyword.text}

            button(class='btn btn-primary btn-block' type="submit") Answer 
        