html
    head 
        title="Landing Page"
        link(rel='stylesheet' href='/css/style.css')
    body 
        h2(style="margin-left: 500px") Welcome to askme anything
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") questioins per keyword

        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") questioins per day/period
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") ask a new question
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") answer a question
        
        .div(class='footer')
            a(href="/")  about
            a(href="/")  contact us
            a(href="/")  project documentation
            a(href="/")  link on github
            a(href="/")  cource materials
