html
    head 
        title="Landing Page"
        link(rel='stylesheet' href='/css/style.css')
    body 
        div.container
            ul.col-md-12.row
                a(href='http://localhost:3000/api/landing_page')
                    li.col-md-2.col-md-offset-1 Home Page
                a(href="http://localhost:3000/api/logout")
                    li.col-md-2.col-md-offset-1 Logout
        h2(style="margin-left: 500px") My.AskMeAnything
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3000/api/myContributions' style="color: black;") My questions #[br] My answers

        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3000/api/myContributions' style="color: black;") My contributins per day
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3000/api/AskQuestion' style="color: black;") Ask new question
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3000/api/AnswerQuestion' style="color: black;") Answer a question
        
        .div(class='footer')
            a(href="/")  about
            a(href="/")  contact us
            a(href="/")  project documentation
            a(href="/")  link on github
            a(href="/")  cource materials
