html
    head 
        title="Landing Page"
        link(rel='stylesheet' href='/css/style.css')
    body 
        h2(style="margin-left: 500px") My.AskMeAnything
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006/' style="color: black;") My questions #[br] My answers

        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") My contributins per day
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") ask new question
        
        .card(class='home-box')
            .card-block
            a.card-actions(class='button' href='http://localhost:3006' style="color: black;") answer a question
        
        .div(class='footer')
            a(href="/")  about
            a(href="/")  contact us
            a(href="/")  project documentation
            a(href="/")  link on github
            a(href="/")  cource materials
