html 
    head
        title='Questions per period'
    body
        .card(class="question-block")
            .card-block
            h2.card-title Questions of the last week
            p.card-text 
            for question in weekQuestions 
                p #{question.text}

        .card(class="question-block")
            .card-block
            h2.card-title Questions of the last month
            p.card-text 
            for question in monthQuestions 
                p #{question.text}
       
        