html 
    head
        title='Questions per keyword'
    body
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js")
        canvas#chart(style='width:70%; margin-left: 150px; margin-top: 150px') 

        script. 
            
            var keywords = ["Machine-Learning", "AI", "javascript", "java", "python", "Algorithms", "Graph Theory", "c++", "haskell"];
            var data = #{JSON.stringify(values)};
            var colors = ["blue", "red", "green", "black", "orange", "pink", "brown", "purple", "yellow"];   

            new Chart("chart", {
                type: "pie",
                data: {
                    labels: keywords,
                    datasets: [{
                        backgroundColor: colors,
                        data: data
                    }]
                },
                options: {
                    legend: {
                        position: 'bottom'
                    }
                }
            });
        