html
    head
        title Sign up page
        link(rel='stylesheet' href='/css/style.css')
    body
        div.container
            ul.col-md-12.row
                a(href='http://localhost:3000/api/landing_page')
                    li.col-md-2 HomePage
                a(href='http://localhost:3000/api/login')
                    li.col-md-2 Login
                a(href='http://localhost:3000/api/myPage')
                    li.col-md-2 My Page



        div(class='auth-wrapper')
            form(class='auth-inner' method='POST' action='/auth/signup')
                h2(class="headers") Sign up before login
                div(class="form-group")
                    label(class="labels") Username:
                    input(name="username", value='', type='text', class="form-control")
                    label(class="labels") Password:
                    input(name="password", value='', type='password', class="form-control")
                    label(class="labels") Re-enter password:
                    input(name="password2", value='', type='password', class="form-control")
                
                div(style="display:flex; justify-content:center; align-items:center; width:100%")
                    button(class='registerbtn' style="width:200px; padding:10px 0px; font-size:18px" type="submit" value="Login") Sign Up

                div(class="container signin")
                    p Already have an account?
                    a(href='http://localhost:3000/api/login') Sign in

